<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <display-name>SBS</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TAAAssignmentServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.TAAAssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAAAssignmentServlet</servlet-name>
    <url-pattern>/jsp/assign_taa.jsp</url-pattern>
  </servlet-mapping>
  <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/internal_error.jsp</location>
</error-page>
  <servlet>
    <servlet-name>DebitAndCreditServlet1</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.DebitAndCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitAndCreditServlet1</servlet-name>
    <url-pattern>/DebitAndCreditServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TAARequestValidation</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.TAARequestValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAARequestValidation</servlet-name>
    <url-pattern>/jsp/TAARequestValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TAARequest</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.TAARequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAARequest</servlet-name>
    <url-pattern>/jsp/TAARequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestRole</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.RequestRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestRole</servlet-name>
    <url-pattern>/jsp/RequestRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignRole</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.AssignRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignRole</servlet-name>
    <url-pattern>/jsp/AssignRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleRequestValidation</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.RoleRequestValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleRequestValidation</servlet-name>
    <url-pattern>/jsp/RoleRequestValidation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DebitAndCreditServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.DebitAndCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitAndCreditServlet</servlet-name>
    <url-pattern>/DebitAndCreditServlet2</url-pattern>
  </servlet-mapping>
 
<servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OTPServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.OTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPServlet</servlet-name>
    <url-pattern>/OTPServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MerchantRequestServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.MerchantRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantRequestServlet</servlet-name>
    <url-pattern>/MerchantRequestServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerPayConfServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.CustomerPayConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPayConfServlet</servlet-name>
    <url-pattern>/CustomerPayConfServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerPaymentServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.CustomerPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPaymentServlet</servlet-name>
    <url-pattern>/CustomerPaymentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet1</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.asu.ss.secure_banking_system.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet1</url-pattern>
  </servlet-mapping> 
</web-app>